* { 
    box-sizing: border-box; 
    font-family: sans-serif;
}

html,
body
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul { 
    margin: 0; 
}

h1 {
    text-align: center;
}

.container {
    display: flex;
}

.container > * {
    width: 50%;
    padding: 1em;
}

form > * {
    display: block;
}

form > * + * {
    margin-top: 0.5em;
}

#tweet-list > * + * {
    margin-top: 1em;
}

form textarea {
    width: 100%;
    resize: none;
    padding: 0.5em 1em;
    border-radius: 0.25em;
}

form button {
    cursor: pointer;
    background-color: teal;
    color: white;
    border: 1px solid teal;
    padding: 0.5em;
    transition: 
        background-color ease 150ms,
        color ease 150ms;
}

form button:hover {
    background-color: white;
    color: teal;
}

.card {
    display: flex;
    gap: 1em;
    align-items: flex-start;
    opacity: 1;
    transition: opacity ease 300ms;
}

.card-img {
    width: 30%;
}

.card-img > img {
    max-width: 100%;
}

.card-text {
    text-align: justify;
}

.close {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: lightgray;
    margin-left: auto;
}

.close:hover {
    color: black;
}

.hide {
    opacity: 0;
}